<launch>
<!--
Launch file for running the multirobot simulation on gazebo
-->
<!-- spawn robot 1-->
<group ns="/robot_1">
	<include file="$(find hunter2_explorer)/launch/include/move_baseSafe.launch">
		<arg name="namespace" value="robot_1"/>
	</include> 
</group>

<!-- spawn robot 2-->
<group ns="/robot_2">
	<include file="$(find hunter2_explorer)/launch/include/move_baseSafe.launch">
		<arg name="namespace" value="robot_2"/>
	</include> 
</group>

<!-- spawn robot 3-->
<group ns="/robot_3">
	<include file="$(find hunter2_explorer)/launch/include/move_baseSafe.launch">
		<arg name="namespace" value="robot_3"/>
	</include> 
</group>


<!-- transformation between robots-->
<node pkg="tf" type="static_transform_publisher" name="robot2_to_robot1" args="-3 0 0 0 0 0 /robot_1/map /robot_2/map 20" />
<node pkg="tf" type="static_transform_publisher" name="robot3_to_robot1" args="3 0 0 0 0 0 /robot_1/map /robot_3/map 20" />

<!-- Map megring (know inital position case)-->
<include file="$(find hunter2_explorer)/launch/include/initposes_three.launch"/>
<include file="$(find hunter2_explorer)/launch/include/map_merge.launch"/>



<!-- run RViz node (visualization) -->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find hunter2_explorer)/launch/include/rviz_config/three_hunters.rviz">
<remap from="move_base_simple/goal" to="robot_1/move_base_simple/goal"/>
</node>


</launch>
